#header{

width:244px;
height:49px;
background: url(../impages/d21.png) no-repeat 22px 17px;
border-bottom:1px solid grey 

}
#header1{

width:244px;
height:49px;
background: url(../impages/d22.png) no-repeat 22px 17px;
border-bottom:1px solid grey 

}
#header2{

width:244px;
height:49px;
background: url(../impages/d23.png) no-repeat 22px 17px;
border-bottom:1px solid grey ;
border-left:2px solid #c46022;

}
#header3{

width:244px;
height:49px;
background: url(../impages/d24.png) no-repeat 22px 17px;
border-bottom:1px solid grey 

}
#header4{

width:244px;
height:49px;
background: url(../impages/d25.png) no-repeat 22px 17px;
border-bottom:1px solid grey 

}
#header5{

width:244px;
height:49px;
background: url(../impages/d26.png) no-repeat 22px 17px;
border-bottom:1px solid grey 

}